html,
body,
aside,
div,
p,
nav,
a,
i,
ul,
li,
section,
img,
footer {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-size: 12px;
  color: #C9C9C9;
  font-family: Helvetica Neue,Microsoft Yahei;
}
body,
.main,
.container {
  background: #1A1A1A;
}
.iconfont {
  color: #B5B5B5;
  padding-right: 4px;
}
.container .left-bar {
  position: fixed;
  padding: 0 20px;
  background: #363636;
  color: #B5B5B5;
  box-sizing: border-box;
  flex-direction: column;
  height: 100vh;
  display: flex;
  width: 248px;
  transition: all .5s;
}
.container .main {
  position: relative;
  display: flex;
  flex-direction: column;
  -webkit-box-orient: vertical;
  margin-left: 248px;
}
.container .main .iconfont {
  font-size: 18px;
  color: #000000;
}
.set-scroll {
  background-color: #494f5e;
  border-radius: 0;
  width: 4px;
}
.left-bar .title {
  color: white;
  font-size: 18px;
  height: 50px;
  line-height: 50px;
}
.left-bar .title p {
  text-align: center;
}
.left-bar .nav {
  flex: 1;
  -webkit-box-flex: 1;
  flex-grow: 1;
}
.left-bar .nav .item {
  height: 48px;
  line-height: 46px;
  border-top: 2px solid rgba(255, 255, 255, 0.04);
  border-bottom: 2px solid rgba(255, 255, 255, 0.04);
}
.left-bar .nav > .active {
  position: relative;
}
.left-bar .nav > .active .line {
  position: absolute;
  right: 0px;
  height: 30px;
  width: 3px;
  background: #3A3A3A;
  z-index: 100000;
  margin-top: 10px;
}
.left-bar .nav-item {
  min-height: 100vh;
  overflow-y: scroll;
}
.left-bar .nav-item::-webkit-scrollbar-track {
  background-color: #414141;
  border-radius: 0;
  width: 4px;
}
.left-bar .nav-item::-webkit-scrollbar-thumb {
  background-color: #414141;
  border-radius: 0;
  width: 4px;
}
.left-bar .nav-item::-webkit-scrollbar {
  background-color: #414141;
  border-radius: 0;
  width: 4px;
}
.left-bar .nav-item li {
  padding-left: 20px;
  height: 32px;
  line-height: 32px;
}
.left-bar .nav-item li > .active,
.left-bar .nav-item li > .active i,
.left-bar .nav-item li:hover a,
.left-bar .nav-item li:hover i {
  color: #FFFFFF;
}
.left-bar .nav-item li a {
  text-decoration: none;
  font-size: 12px;
  display: inline-block;
  width: 100%;
  color: #B5B5B5;
}
.nav .item a {
  color: white;
}
.nav .comment {
  position: fixed;
  z-index: 100;
  bottom: 1px;
  width: 200px;
  background: #363636;
}
.main #mainContent {
  max-width: 1200px;
}
.main .box {
  overflow: hidden;
  margin: 20px 30px;
  background: #1A1A1A;
  padding-bottom: 20px;
}
.main .box .sub-category > div {
  padding: 12px 0 0 2.1%;
  font-size: 18px;
}
.main .box .item {
  width: 20%;
  border: 1px solid #3E3E3E;

  border-radius: 6px;
  background: #1A1A1A;
  padding: 10px;
  min-width: 200px;
  margin: 22px 0 0 2.1%;
  float: left;
  overflow: hidden;
  transition: all .3s;
}
.main .box .item:hover {
  transform: translateY(-5px);
}
.main .box .item .no-logo {
  color: #989898;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}
.main .box .item .logo {
  height: 40px;
  position: relative;
  font-size: 14px;
  font-weight: 700;
  color: #989898;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 .1rem;
}
.main .box .item .logo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  vertical-align: middle;
}
.main .box .item .desc {
  color: gray;
  font-size: 12px;
  padding-top: 10px;
  height: 35px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.footer {
  width: 100%;
  bottom: 0;
  line-height: 45px;
  background: #1A1A1A;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}
.footer .copyright {
  margin-left: 30px;
  color: #949494;
  font-size: 12px;
}
.footer .copyright a {
  text-decoration: none;
  color: #3a85ff;
}
p.leftmargin
{
margin-left: 5%
}
#menu {
  display: none;
  width: 80%;
  line-height:200%;
  background: #1A1A1A;
  padding: 10px 0;
  margin: 10px auto 0 auto;
  text-align: center;
  border:0.5px solid #424242;
  -webkit-border-top-left-radius:6px;
  -moz-border-radius-topleft:6px;
  border-top-left-radius:6px;
  -webkit-border-top-right-radius:6px;
  -moz-border-radius-topright:6px;
  border-top-right-radius:6px;
  -webkit-border-bottom-left-radius:6px;
  -moz-border-radius-bottomleft:6px;
  border-bottom-left-radius:6px;
  -webkit-border-bottom-right-radius:6px;
  -moz-border-radius-bottomright:6px;
  border-bottom-right-radius:6px;
}
#menu a {
  color: #A9A9A9;
  font-size: 16px;
}
.download a,
.download i {
  color: #3668bd !important;
}
@media screen and (max-width: 481px) {
  .container .box .item {
    width: 89%;
    min-width: 100px;
  }
  .container .main {
    margin-left: 0;
  }
  .container .left-bar {
    z-index: 999;
    left: -249px;
  }
  #menu {
    display: block;
  }
}
@media screen and (min-width: 482px) {
  .container .box .item {
    width: 90%;
  }
  .container .left-bar {
    left: 0px;
  }
}
@media screen and (min-width: 790px) {
  .container .box .item {
    width: 43%;
  }
}
@media screen and (min-width: 1040px) {
  .container .box .item {
    width: 28%;
  }
}
@media screen and (min-width: 1200px) {
  .container .box .item {
    width: 20%;
  }
}
